.menu_button {
  display: none;
}

.logo {
  display: none;
}

.sizeup_logo_image {
  display: block;
  margin: auto 0.8rem;
  width: 3rem;
  height: 3rem;
  object-fit: fill;
}

header {
  justify-content: flex-start !important;
}

.sizeup_logo {
  display: block;
  font-size: 1.8rem;
  background-size: cover;
  background-image: url('/images/text.jpg');
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.sizeup_menu {
  display: block;
  margin-top: 0.3rem;
}

.sizeup_menu__main {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 0;
}

.sizeup_menu__item {
  font-size: 0.8rem;
  font-weight: 600;
  width: 30%;
  label:hover {
    transition: all 0.5s;
    color: white;
    text-decoration: none;
  }
  label {
    line-height: 1;
    text-align: center;
    margin-bottom: 0;
    height: 3rem;
    border-right: 0.1rem solid black;
  }
}
.twoline_label.target3 {
  line-height: 1.1;
  & > div {
    display: inline-block;
    vertical-align: top;
    transform: translateY(-0.5rem);
    padding-bottom: 2rem;
  }
}

.map {
  display: flex;
  iframe {
    width: 30rem;
  }
  img {
    display: block;
    width: 24rem;
  }
}

.address_info {
  margin-top: 1rem;
  div {
    & > a {
      color: white;
    }
  }
}

.sizeup_menu__item {
  &__lists {
    position: absolute;
    #links06,
    #links07,
    #links08,
    #links09,
    #links10 {
      width: 41.4rem;
      position: relative;
      display: flex;
      opacity: 0;
      transition: all 300ms;
      a {
        padding: 0.5rem;
      }
      li {
        line-height: 2.5;
        height: 2rem;
        display: absolute;
        & > a:hover {
          transition: all 0.6s;
          background-color: black;
          color: white;
          cursor: pointer;
        }
        & > a:link {
          color: white;
        }
        & > a {
          color: black;
          text-decoration: none;
        }
      }
    }
    #links06.open,
    #links07.open,
    #links08.open,
    #links09.open,
    #links10.open {
      opacity: 1;
    }
  }
}
