.menu {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  background-color: #1a0404;
}

.menu_top {
  width: 100%;
  height: 2rem;
  margin: 0.5rem;
}

.menu__main {
  border-top: 0.1rem #fddf31 double;
  padding-top: 1rem;
}

.menu_bottom {
  border-top: 0.1rem #fddf31 double;
  color: white;
  width: 300px;
  height: 6rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.menu_bottom a {
  color: white;
}

.menu_bottom a:active {
  color: white;
}

.menu_bottom a:visited {
  color: white;
}

.menu_bottom .faa-horizontal.animated,
.menu_bottom .faa-horizontal.animated-hover:hover,
.menu_bottom .faa-parent.animated-hover:hover > .faa-horizontal {
  padding-top: 10px;
  -webkit-animation: horizontal 2s ease infinite;
  animation: horizontal 2s ease infinite;
}

.menu_button {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
  margin: 10px;
}

.menu_button > span {
  background-color: black;
  width: 35px;
  height: 4px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.menu_button > span:last-child {
  margin-bottom: 0;
}

.open > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(14px) rotate(135deg);
          transform: translateY(14px) rotate(135deg);
}

.open > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.open > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

body {
  margin: 0;
}

ol,
ul,
dl {
  padding-left: 0;
}

li {
  list-style: none;
}

.mobile_container {
  overflow: scroll;
}

.header {
  border-top: 0.4rem solid #1a0404;
}

.header .logo {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  width: 5rem;
  height: 3rem;
}

.header .logo .company_name {
  color: #e6291b;
}

.sizeup_logo {
  display: none;
}

.sizeup_menu {
  display: none;
}

.slide_container {
  position: relative;
  background-color: white;
  height: 100%;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.slide_container.slide {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}

.slide_container .header {
  background-color: white;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label {
  display: block;
  padding: 1.2rem;
  line-height: 1;
  color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#fceabb), color-stop(15%, #fccd4d), color-stop(55%, #f8b500), color-stop(72%, #f8b500), to(#fbdf93));
  background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 15%, #f8b500 55%, #f8b500 72%, #fbdf93 100%);
  cursor: pointer;
}

label a {
  color: black;
}

label a:active {
  color: black;
}

label a:visited {
  color: black;
}

input {
  display: none;
}

.title ul {
  margin: 1px;
  padding: 0;
  background: #f4f4f4;
  list-style: none;
}

.title ul li {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#links01 a,
#links02 a,
#links03 a,
#links04 a,
#links05 a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
}

#links01 a:hover,
#links02 a:hover,
#links03 a:hover,
#links04 a:hover,
#links05 a:hover {
  color: white;
  background-color: black;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  cursor: pointer;
}

#menu_bar01:checked ~ #links01 li {
  height: 3rem;
}

#menu_bar02:checked ~ #links02 li {
  height: 8rem;
}

#menu_bar03:checked ~ #links03 li {
  height: 6rem;
}

#menu_bar04:checked ~ #links04 li {
  height: 3rem;
}

#menu_bar05:checked ~ #links05 li {
  height: 3rem;
}

.hero {
  position: relative;
  width: 100%;
  height: 15rem;
  background-image: url(/images/1.jpg);
  background-size: cover;
}

.hero_text {
  text-shadow: 2px 3px 2px #353434;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.company_info {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 0.8rem;
}

.company_info_title {
  border-left: 2px solid red;
  padding-left: 1rem;
}

.company_info_descriptions {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.company_info_descriptions > h2 {
  border-bottom: 1px solid red;
}

.company_info_descriptions > span {
  font-size: 1rem;
}

.company_info_descriptions > span > a {
  color: black;
}

.company_info_descriptions > span > a:active {
  color: black;
}

.company_info_descriptions > span > a:visited {
  color: black;
}

.sizeup_logo_image {
  display: none;
}

.contact {
  width: 100%;
  color: white;
  background-color: #1a0404;
  height: 37rem;
  padding: 1rem;
  font-size: 1rem;
}

.contact_photo {
  height: 15rem;
  background-image: url(/images/contact.jpg);
  background-size: cover;
}

.address {
  padding: 0.5rem;
}

.address div > a {
  color: color;
}

footer {
  position: absolute;
  font-size: 0.75rem;
  bottom: 0;
  background-color: #050101;
  text-align: center;
  color: white;
  width: 100vw;
  padding: 0.2rem;
}

.map iframe {
  width: 21.5rem;
}

.map img {
  display: none;
}

@media (min-width: 600px) {
  .menu_button {
    display: none;
  }
  .logo {
    display: none;
  }
  .sizeup_logo_image {
    display: block;
    margin: auto 0.8rem;
    width: 3rem;
    height: 3rem;
    -o-object-fit: fill;
       object-fit: fill;
  }
  header {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .sizeup_logo {
    display: block;
    font-size: 1.8rem;
    background-size: cover;
    background-image: url("/images/text.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .sizeup_menu {
    display: block;
    margin-top: 0.3rem;
  }
  .sizeup_menu__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  .sizeup_menu__item {
    font-size: 0.8rem;
    font-weight: 600;
    width: 30%;
  }
  .sizeup_menu__item label:hover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: white;
    text-decoration: none;
  }
  .sizeup_menu__item label {
    line-height: 1;
    text-align: center;
    margin-bottom: 0;
    height: 3rem;
    border-right: 0.1rem solid black;
  }
  .twoline_label.target3 {
    line-height: 1.1;
  }
  .twoline_label.target3 > div {
    display: inline-block;
    vertical-align: top;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
    padding-bottom: 2rem;
  }
  .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .map iframe {
    width: 30rem;
  }
  .map img {
    display: block;
    width: 24rem;
  }
  .address_info {
    margin-top: 1rem;
  }
  .address_info div > a {
    color: white;
  }
  .sizeup_menu__item__lists {
    position: absolute;
  }
  .sizeup_menu__item__lists #links06,
  .sizeup_menu__item__lists #links07,
  .sizeup_menu__item__lists #links08,
  .sizeup_menu__item__lists #links09,
  .sizeup_menu__item__lists #links10 {
    width: 41.4rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  .sizeup_menu__item__lists #links06 a,
  .sizeup_menu__item__lists #links07 a,
  .sizeup_menu__item__lists #links08 a,
  .sizeup_menu__item__lists #links09 a,
  .sizeup_menu__item__lists #links10 a {
    padding: 0.5rem;
  }
  .sizeup_menu__item__lists #links06 li,
  .sizeup_menu__item__lists #links07 li,
  .sizeup_menu__item__lists #links08 li,
  .sizeup_menu__item__lists #links09 li,
  .sizeup_menu__item__lists #links10 li {
    line-height: 2.5;
    height: 2rem;
    display: absolute;
  }
  .sizeup_menu__item__lists #links06 li > a:hover,
  .sizeup_menu__item__lists #links07 li > a:hover,
  .sizeup_menu__item__lists #links08 li > a:hover,
  .sizeup_menu__item__lists #links09 li > a:hover,
  .sizeup_menu__item__lists #links10 li > a:hover {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .sizeup_menu__item__lists #links06 li > a:link,
  .sizeup_menu__item__lists #links07 li > a:link,
  .sizeup_menu__item__lists #links08 li > a:link,
  .sizeup_menu__item__lists #links09 li > a:link,
  .sizeup_menu__item__lists #links10 li > a:link {
    color: white;
  }
  .sizeup_menu__item__lists #links06 li > a,
  .sizeup_menu__item__lists #links07 li > a,
  .sizeup_menu__item__lists #links08 li > a,
  .sizeup_menu__item__lists #links09 li > a,
  .sizeup_menu__item__lists #links10 li > a {
    color: black;
    text-decoration: none;
  }
  .sizeup_menu__item__lists #links06.open,
  .sizeup_menu__item__lists #links07.open,
  .sizeup_menu__item__lists #links08.open,
  .sizeup_menu__item__lists #links09.open,
  .sizeup_menu__item__lists #links10.open {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */